<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.securityconnexion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.NETWORK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c4a5e77eafa9a7c95f25df8d3061d9254baa2de5" />

        <activity android:name=".ProfileActivity" />
        <activity android:name=".GoogleActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".IngresoActivity" />
        <activity
            android:name="itcr.iniciosesionseguro.GoogleActivity"
            android:label="@string/title_activity_google"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="itcr.iniciosesionseguro.IngresoActivity" />
        <activity android:name="itcr.iniciosesionseguro.RegistroActivity"></activity>
    </application>

</manifest>